* {
    margin: 0;
    padding: 0;
}

body {
    height: 102vh;
    width: 100vw;
    overflow: hidden;
}

@media (max-width: 680px) {
    .pc3d {
        display: none;
    }
}

@media (min-width: 681px) {
    .mo3d {
        display: none;
    }
}